html
{
    background-color: aquamarine;
}
.dudu
{
    font-family:cursive;
    color: crimson;
}
.didi
{
    font-family: cursive;
    color: black;
}
.mango
{
    font-family: cursive;
    color: blueviolet;
}